{% extends 'base_layout.html' %}

{% block title %}
EBS
{% endblock title %}

{% load static %}
{% block content %}

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="{% url 'baseApp:home' %}">Home</a></li>
        <li><a href="{% url 'baseApp:about' %}">About Us</a></li>
        <li class="drop-down"><a href="">New Connection</a>
          <ul>
            <li>
              <form action="{% url 'userApp:meter' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="source" value="Single">
                <a href="#" onclick="event.preventDefault(); this.parentNode.submit()">Single Phase</a>
              </form>
            </li>
            <li>
              <form action="{% url 'userApp:meter' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="source" value="Three">
                <a href="#" onclick="event.preventDefault(); this.parentNode.submit()">Three Phase</a>
              </form>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}" class="get-started-btn">Sign out</a>
    <!-- <img class="rounded-circle article-img" src="{{ request.user.profile.image.url }}" id="img">  -->
    {% else %}
    <a href="{% url 'accounts:login' %}" class="sign-in-btn">Sign in</a>
    <a href="{% url 'accounts:register' %}" class="get-started-btn">Sign up</a>
    {% endif %}
  </div>
</header>

<div class="container">

  <br>
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Welcome {{user.first_name}} &#128515</h4>
    <p class="mb-0"></p>
  </div>
  {% include 'accounts/_flash_messages.html'%}

  <div class="row justify-content-center">
  {% for meter in meterID %}
    <div class="col-lg-4">
      <div class="grid">
        
        {% if meter.isActive %}
        <figure style="background: #5fcf80;" class="effect-marley">
        {% else %}
        <figure style="background: #e02336;" class="effect-marley">
        {% endif %}
        
          <img src="{% static 'img/meter.jpg' %}"/>
          <figcaption>
            <h2><span>{{meter.id}}</span></h2>
            <p style="text-align: left;">
              {{meter.feederName}} <br>
          
              {% if meter.connectionType == 'C' %}
                Commercial <br>
              {% elif meter.connectionType == 'I' %}
                Industrial <br>
              {% else %}
                Residential <br>
              {% endif %}
          
              {{meter.meterType}} phase
            </p>
            <a href="javascript:{}" onclick="document.getElementById('{{meter.id}}').submit();"></a>
          </figcaption>			
        </figure>
      </div>

      <form action="{% url 'userApp:viewBill' %}" method="post" id="{{meter.id}}">
        {% csrf_token %}
        <input type="hidden" name="meterID" value="{{meter.id}}">
      </form>
      
    </div>
  {% endfor %}
  </div>
{% endblock content %}