{% extends 'base_layout.html' %}

{% block title %}
  EBS
{% endblock title %}

{% load static %}
{% block content %}

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="{% url 'baseApp:home' %}">Home</a></li>
        <li><a href="{% url 'baseApp:about' %}">About Us</a></li>
      </ul>
    </nav>
    
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}" class="get-started-btn">Sign out</a>    
    {% else %}
    <a href="{% url 'accounts:login' %}" class="sign-in-btn">Sign in</a>
    <a href="{% url 'accounts:register' %}" class="get-started-btn">Sign up</a>
    {% endif %}
  </div>
</header>

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
<div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
  <h1>With Great <span style="color: #3ac162;">Power </span>,<br>Comes Great <span style="color: #3ac162;">Electricity Bill</span></h1>
  <a href="{% url 'accounts:login' %}" class="btn-get-started">Get Started</a>
</div>
</section><!-- End Hero -->

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About</h2>
      <p>About Us</p>
    </div>

    <div class="row">
      <div class="col-lg-5 offset-lg-1 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
        <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Providing all the details about your meter connections and billing online</h3>
        <p class="font-italic">
          Providing online tracking and billing system
        </p>
        <ul>
          <li><i class="icofont-check-circled"></i> All information in one place</li>
          <li><i class="icofont-check-circled"></i> Online tracking and billing system</li>
          <li><i class="icofont-check-circled"></i> See your bill records online </li>
          <li><i class="icofont-check-circled"></i> Demo project</li>
          <li><i class="icofont-check-circled"></i> All information in single account</li>
        </ul>
        <p>
          Help us reduce the load shedding and improve health of the power distribution system by bringing down peak load demand
        </p>
        <a href="{% url 'baseApp:about' %}" class="learn-more-btn">Learn More</a>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts section-bg">
  <div class="container">

    <div class="row counters">

      <div class="col-6 text-center">
        <span data-toggle="counter-up">123</span>
        <p>Active Connections</p>
      </div>

      <div class="col-6 text-center">
        <span data-toggle="counter-up">12</span>
        <p>Employees</p>
      </div>
    </div>

  </div>
</section><!-- End Counts Section -->

</main><!-- End #main -->


{% endblock %}